<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
    <h1>Agregar nueva habilidad</h1>
    <form th:action="@{/skills/store}" th:object="${skill}" method="post">


        <label th:for="name">Nombre</label>
        <input type="text" th:field="*{name}">

        <label>Nivel</label>
        <input type="text" th:field="*{level}">


        <button type="submit">Guardar</button>
    </form>
</body>
</html>